.ball {
    width: 200px;
    height: 200px;
    background-color: #ff5722;
    position: relative;
    animation: move 4s infinite, changeColor 2s infinite;
    border-radius: 200px;
}
@keyframes move {
    0% { left: 0; }
    50% { left: 200px; }
    100% { left: 0; }
}
@keyframes changeColor {
    0% { background-color: red; }
    10% { background-color: black; }
    20% { background-color: blueviolet; }
    30% { background-color: cadetblue; }
    40% { background-color: chartreuse; }
    50% { background-color: azure; }
    60% { background-color: crimson; }
    70% { background-color: beige; }
    80% { background-color: darkred; }
    90% { background-color: darkkhaki; }
    100% { background-color: blue; }
}
